@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    --font-fjallaOne: 'Fjalla One', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-playwriteCuba: 'Playwrite Cuba', sans-serif;
    --light-bg: #fdfefe;
    --dark-bg: #191a1a;
    --light-text: #25334b;
    --dark-text: #dddfb5;
    --light-accent: #a2262e;
    --dark-accent: #499e5e;
  }
}
